
.history-section {
    position: relative;
    width: 100%;
    height: 1000px;
}

.mountain-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.history-content {
    z-index: 2;
    position: absolute;
    top: 80px;
    left: 100px;
    max-width: 1000px; 
}

.history-content p {
    padding: 0px 80px;
    margin-top: 0; 
    /* ブラウザのデフォルトで <p> には margin: 16px 0; が付いています。 */
}


.swiper-wrapper-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: rgba(20,20,20, 0.5);
    z-index: 1;
    display: flex;
    align-items: center; /* 上下中央 */
    justify-content: center; /* 左右中央 */
}


.swiper {
    width: 95%;
    height: 150px;
    max-width: 1200px;
  }


.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}